		.heading{
			font-size: 50pt;
			color: white;
			font-family: "Comic Sans MS";
		}
		.signinform{
			background-color: #3CBC8D;
			color: white;
			background-color: transparent;
		}
		html{
			height: 100%;
			background: linear-gradient(to top right, black, blue);
		}
		.sub-heading{
			font-size: 25pt;
			color: white;
			font-family: "Comic Sans MS";
		}
		.signin{ 
			font-size: 12pt;
			color: white;
			font-family: "Comic Sans MS";
			text-align: left;
			float: left;
			position: relative;
			left: 30px; 
		}
		.signout{ 
			font-size: 12pt;
			color: red;
			font-family: "Comic Sans MS";
			text-align: right;
			float: right;
			position: relative;
			left: -30px; 
		}
		.row{
			background-color: black;
			border: 1px solid white;
			color: #FFF;
			font-family: "Comic Sans MS";
			margin: 0;
			padding: 0;
			text-decoration: none;
			height: 60px;
			width: 100%;
			overflow: auto;
			position: relative;
		}
		.sub-sub-heading{
			font-size: 20pt;
			color: white;
			font-family: "Comic Sans MS";
		}
		hr{
			color: blue;
		}